.cards,
.card {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}
.cards > * {
  flex: 1;
}
@media (max-width: 1366px) {
  .cards > * {
    flex-basis: 25%;
  }
}
@media (max-width: 768px) {
  .cards > * {
    flex-basis: 33.33%;
  }
}
@media (max-width: 480px) {
  .cards > * {
    flex-basis: 100%;
    gap: 10px;
  }
}
@media (min-width: 1367px) {
  .cards > * {
    flex-basis: 20%;
  }
}

@media (max-width: 479px) {
  .card-ad {
    flex: auto;
  }
  .card-ad__wrapski {
    height: 300px;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .card-ad {
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    text-align: center;
    position: relative;
    height: auto;
  }
  .card-ad__wrapski {
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: 100%;
  }
}
.card {
  position: relative;
  display: flex;
  text-wrap: balance;
}
.card a {
  color: var(--card-fg);
}
.card__link {
  box-shadow: var(--card-shadow);
  flex: 1;
  border-radius: 4px;
  background: var(--card-bg);
  color: var(--card-fg);
  display: block;
}
.card a.card__link {
  text-decoration: none;
  transition: all 0.2s;
}
.card a.card__link:hover,
.card a.card__link:focus {
  transform: scale(1.02);
}
.card a.card__link:active {
  transform: scale(0.9);
}
.card__thumbnail {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  background: red;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 4px 0 0;
  background-size: cover;
}
.card__thumbnail-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__thumbnail-attribution {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
}
.card__icon {
  position: absolute;
  top: 25%;
  height: 50%;
}
.card__content {
  padding: 16px;
  font-size: 0.8em;
}
.card:nth-child(4n + 1) .card__thumbnail {
  background-color: #64b5f6;
}
.card:nth-child(4n + 2) .card__thumbnail {
  background-color: #81c784;
}
.card:nth-child(4n + 3) .card__thumbnail {
  background-color: #7986cb;
}
.card:nth-child(4n + 4) .card__thumbnail {
  background-color: #f06292;
}
