.header {
  background: var(--blue-bg);
  color: var(--blue-fg);
}
body.hero-menu .header {
  position: absolute;
  z-index: 2;
  background: linear-gradient(to bottom, #013b, #00f0);
  width: 100%;
  text-shadow: 1px 1px 2px black;
}
.header__flex {
  display: flex;
}
.header__logo {
  height: 48px;
  width: 48px;
  margin-right: 10px;
}
.header a {
  line-height: 2em;
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.header a::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background: white;
  transition: all 0.2s;
}
.header a:hover::after,
.header a:focus::after {
  width: 100%;
}
.header .header__item--active a::after {
  width: 4px;
  left: 2px;
  background: var(--blue-accent-fg);
}
.header .header__item--active a:focus::after, .header .header__item--active a:hover::after {
  left: 0;
  width: 100%;
  background: white;
}
.header__menu {
  padding: 0;
  display: flex;
  align-items: center;
}
.header__item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 1.5em;
  position: relative;
}
.header__item-search svg {
  width: 24px;
  height: 24px;
}
.header__main {
  font-weight: bold;
  font-size: 1em;
  margin: 0 2em 0 1em;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
}
.header__icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  fill: white;
  margin-right: 5px;
}
.header__search {
  flex: 1;
  text-align: right;
}
.header__item--mobile {
  display: none;
}
@media (max-width: 767px) {
  .header__flex {
    justify-content: space-between;
  }
  .header__item--mobile {
    display: inline-block;
  }
  .header__item--desktop {
    display: none !important;
  }
}

/* dark theme switch and style */
.dark-toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 25px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  padding: 5px 0;
}
.dark-toggle:after, .dark-toggle:before {
  display: block;
  content: "";
}
.dark-toggle:before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #242f44;
  -webkit-mask: radial-gradient(circle at 0px 2px, transparent 13px, black 14px);
}