table {
  box-shadow: var(--card-shadow);
  flex: 1;
  border-radius: 4px;
  background-color: var(--body-bg);
  color: var(--body-fg);
  overflow: hidden;
  border-collapse: collapse;
  margin-bottom: 30px;
}

thead {
  background: var(--blue-bg);
  color: var(--blue-fg);
}

tbody {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
}

th {
  padding: 20px 20px;
  text-align: left;
  text-transform: uppercase;
}

td {
  padding: 5px 20px;
  text-align: left;
  vertical-align: middle;
}

tr {
  background: var(--body-supplementary-bg);
}
tr:nth-child(2n+1) {
  background: transparent;
}

table caption {
  padding: 10px 15px;
  text-align: left;
  font-weight: bold;
  color: var(--body-link);
}
table caption:before {
  content: "• ";
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}