.cards,
.card {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 480px) {
    .card {
      width: 50%;

      @media (min-width: 768px) {
        width: calc(100% / 3);
      }

      @media (min-width: 1366px) {
        width: calc(100% / 4);
      }
    }
  }
}

.card-ad {
  height: 300px;
  margin: 10px 0;
}
@media (min-width: 480px) {
  .card-ad {
    margin: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    flex: 1;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    text-align: center;
    position: relative;
    height: auto;
    &__wrapski {
      position: absolute;
      left: 10px;
      top: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
  }
}

.card {
  position: relative;
  display: flex;

  &__link {
    margin: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    flex: 1;
    border-radius: 4px;
    background-color: #fff;
    display: block;
  }
  a.card__link {
    text-decoration: none;
    transition: all 0.2s;
    &:hover,
    &:focus {
      transform: scale(1.02);
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &__thumbnail {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    background: red;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px 0 0;
    background-size: cover;
  }

  &__thumbnail-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  &__thumbnail-attribution {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
  }

  &__icon {
    position: absolute;
    top: 25%;
    height: 50%;
  }
  &__content {
    padding: 16px;
    font-size: 0.8em;
  }

  &:nth-child(4n + 1) &__thumbnail {
    background-color: #64b5f6;
  }
  &:nth-child(4n + 2) &__thumbnail {
    background-color: #81c784;
  }
  &:nth-child(4n + 3) &__thumbnail {
    background-color: #7986cb;
  }
  &:nth-child(4n + 4) &__thumbnail {
    background-color: #f06292;
  }
}
