.footer {
  background: #075697;
  color: white;
  &__left {
    padding: 1em;
    a {
      color: white;
      text-decoration: underline;
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }
  @media (min-width: 480px) {
    &__flex {
      display: flex;
    }
    &__left {
      flex: 1.5;
      padding: 1em 1em 1em 0;
    }
    &__right {
      flex: 0;
      min-width: 300px;
      margin: 1em 0;
    }
  }

  &__menu .card__link {
    margin: 0;
  }
  &__menu-list {
    list-style: none;
    padding: 0;
  }
  &__menu-item a {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #eee;
  }
  &__menu-header {
    padding: 20px 20px 0;
  }
}
