.footer {
  display: grid;
  grid-gap: 20px 50px;
  grid-template-columns: 1fr;
  margin-top: 50px;
  margin-bottom: 50px;
  &__logo {
    border-bottom: 2px solid var(--separator);
    padding-bottom: 10px;
  }
  &__paragraph {
    margin: 0;
    padding: 0;
    line-height: 2;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .footer {
    grid-template-columns: 3fr 7fr;
    &__flexend {
      justify-content: flex-end;
    }

    &__logo {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: span 1;
      grid-column-end: span 2;
    }

    &__b {
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 1023px) {
  .footer {
    font-size: 0.8em;
  }
}

.footer-branding {
  display: flex;
  gap: 10px;
  font-weight: bold;
  align-items: center;
  &__logo {
    width: 32px;
    height: 32px;
  }
  &__text {
    font-size: inherit;
    font-weight: bold;
  }
}

.inline-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
  }
}

.nested-list {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;

  & > * {
    flex-grow: 1;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li li {
    margin-bottom: 10px;
    line-height: 1;
  }

  &__heading {
    margin-bottom: 15px;
  }

  @media (max-width: 1023px) {
    display: grid;
    gap: 20px 10px;
    grid-template-columns: 1fr 1fr;
  }
}
