.header {
  background: #075697;

  &__flex {
    display: flex;
  }

  &__logo {
    height: 48px;
    width: 48px;
    margin-right: 10px;
  }
  a {
    line-height: 2em;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    position: relative;
    &::after {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 0;
      height: 4px;
      border-radius: 2px;
      background: white;
      transition: all 0.2s;
    }
  }

  a:hover,
  a:focus {
    &::after {
      width: 100%;
    }
  }

  .header__item--active a {
    &::after {
      width: 4px;
      left: 2px;
      background: #2196f3;
    }
    &:focus,
    &:hover {
      &::after {
        left: 0;
        width: 100%;
        background: white;
      }
    }
  }

  &__menu {
    padding: 0;
    display: flex;
    align-items: center;
  }
  &__item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 1.5em;
    position: relative;
  }
  &__item-search {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__main {
    font-weight: bold;
    font-size: 1em;
    margin: 0 2em 0 1em;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    fill: white;
    margin-right: 5px;
  }

  &__search {
    flex: 1;
    text-align: right;
  }

  &__item--mobile {
    display: none;
  }
  @media (max-width: 767px) {
    &__flex {
      justify-content: space-between;
    }
    &__item--mobile {
      display: inline-block;
    }
    &__item--desktop {
      display: none !important;
    }
  }
}
