$blue: #075697;
$blue-dark: #1976d2;
@import "layout";
@import "links";
@import "heros";
@import "cards";
@import "buttons";
@import "header";
@import "footer";
@import "inline-map";
@import "table";
@import "cardify";

:root {
  --text-grey: #444;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
.btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.type-serif {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

.article-content {
  h1,
  .h1,
  h2,
  .h2 {
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
      Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.03em;
  margin: 0 0 0.35em;
  padding: 0;
}

h2,
.h2 {
  font-size: 2em;
}

h3,
.h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

@import "articles";

p,
.p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

@media (max-width: 375px) {
  .hide-on-mobile {
    display: none;
  }
  body {
    font-size: 16px;
  }
}

@media (max-width: 415px) {
  body {
    font-size: 18px;
  }
}

/* Ratio box */
.video {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  background: white;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1em;
}
.video > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
}

.copy-code {
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
  margin-bottom: 1em;
  &__text {
    font-family: monospace;
    margin: 0 1em;
    line-height: 2em;
  }
  &__button {
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: $blue;
    border: none;
    color: white;
    padding: 0 0.5em;
    text-transform: uppercase;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $blue-dark;
    }

    &.clicked {
      background: $blue;
      opacity: 0.5;
    }
  }
}

.accessible-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@media (min-width: 800px) {
  .sidebyside {
    display: flex;
    position: relative;
    & > * {
      width: 50%;
    }
  }
}

.development {
  .ad-wide-container,
  .card-ad,
  .article__ad,
  .article__ad2,
  .eleventyad {
    background: aqua;
  }
}
