@import "layout";
@import "links";
@import "heros";
@import "cards";
@import "buttons";
@import "header";
@import "footer";
@import "inline-map";
@import "table";
@import "cardify";

:root {
  // homepage is blue
  --body-bg-blue: linear-gradient(#fffb, #fffb),
    url("/images/binding-dark.webp") #dff1ff;
  // url(bubbles.png), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0))
  --body-bg: linear-gradient(#fffb, #fffb),
    url("/images/binding-dark.webp") white;
  --body-fg: #1d1f21;
  --text-grey: #444;
  --body-link: #075697;
  --body-supplementary-bg: rgba(0, 0, 50, 0.05);

  --blue-bg: #075697;
  --blue-fg: #fff;
  --blue-hover-bg: #1976d2;
  --blue-accent-fg: #2196f3;

  --separator: #eee;

  --card-bg: #fff;
  --card-fg: var(--body-fg);

  --card-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  --button-bg: #2196f3;
  --button-fg: white;
  --button-bg-hover: #2196f3;
  --button-fg-hover: white;
  --button-bg-active: #1b90ec;
  --button-fg-active: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #0e1112 url("/images/binding-dark.webp");
    --body-bg-blue: var(--body-bg);
    --body-fg: #fff;
    --text-grey: #ccc;
    --body-link: #2196f3;
    --body-supplementary-bg: #001e39;

    --blue-bg: #000;
    --blue-fg: #fff;
    --blue-hover-bg: #1976d2;
    --blue-accent-fg: #2196f3;

    --separator: #184a4d;
    --card-bg: url("/images/binding-dark.webp") #161c1d;
    --card-fg: var(--body-fg);

    --card-shadow: 0px 1px 1px 0px #88f0ff50, 0px 2px 1px -1px #ffff8820;

    --button-bg: #1966a5;
    --button-fg: white;
    --button-bg-hover: #2196f3;
    --button-fg-hover: white;
    --button-bg-active: #1b90ec;
    --button-fg-active: white;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
.btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-size: 16px;
  background: var(--body-bg);
  color: var(--body-fg);
}

.type-serif {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

.article-content {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
      Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.03em;
  margin: 0 0 0.35em;
  padding: 0;
}

h2,
.h2 {
  font-size: 2em;
}

h3,
.h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

@import "articles";

p,
.p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

@media (max-width: 375px) {
  .hide-on-mobile {
    display: none;
  }
  body {
    font-size: 16px;
  }
}

@media (max-width: 415px) {
  body {
    font-size: 18px;
  }
}

/* Ratio box */
.video {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  background: black;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1em;
  border-radius: 6px;
  iframe {
    border-radius: 6px;
  }
}
.video > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
}

.copy-code {
  background-color: var(--body-supplementary-bg);
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
  margin-bottom: 1em;
  &__text {
    font-family: monospace;
    margin: 0 1em;
    line-height: 2em;
  }
  &__button {
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: var(--blue-bg);
    border: none;
    color: var(--blue-fg);
    padding: 0 0.5em;
    text-transform: uppercase;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: var(--blue-hover-bg);
    }

    &.clicked {
      background: var(--blue-bg);
      opacity: 0.5;
    }
  }
}

.accessible-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@media (min-width: 800px) {
  .sidebyside {
    display: flex;
    position: relative;
    & > * {
      width: 50%;
    }
  }
}

.development {
  .ad-wide-container,
  .card-ad,
  .article__ad,
  .article__promo,
  .eleventyad {
    background: aqua;
  }
}

.eleventyad {
  clear: both;
}
