---
permalink: /manifest.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "Briscycle",
  "short_name": "Skylines Times",
  "start_url": "/",
  "display": "minimal-ui",
  "background_color": "#ffffff",
  "theme_color": "#075697",
  "description": "All the news and info about cycling in Brisbane.",
  "icons": [
    {
      "src": "/images/briscycle@1024.png",
      "sizes": "1024x1024",
      "type": "image/png"
    }
  ]
}
