---
permalink: index.js
---
/*!
 * @file
 *   __o
 * _ \<_
 * (_)/(_) BRISCYCLE.COM
 */

{% include "./clipboard.min.js" %}
{% include "./medium-zoom.min.js" %} 
(() => {
const MAP_STYLE = {% include "./map-style.json" %};
{% include "./utils.js" %}
{% include "./storage.js" %}
{% include "./events.js" %}
{% include "./style.js" %}
{% include "./map.js" %}

// Copy referral codes
const buttons = document.querySelectorAll(".copy-code__button");
const clipboard = new ClipboardJS(buttons);
clipboard.on("success", (e) => {
  e.trigger.classList.add("clicked");
});

// Set up image zoom
const zoom = mediumZoom('[data-zoom-src]');
zoom.on('open', event => {
  fireEvent('image-zoom')
});


{% include "./fallback-ads.js" %}

})();