{% if(hero) %}
<div class="hero-default-image-container">
<picture class="hero-default-image">
  <source
    data-srcset="{{hero.image}}-mobile.jpg"
    media="(max-width: 1024px)"
  />
  <img
    class="hero-default-image__image"
    src="{{hero.image}}-desktop.jpg"
    alt="{{ hero.alt }} "
  />
</picture>

{% if hero.attribution %}
<a 
    href="{{hero.attribution.url}}"
    title="'{{hero.attribution.title}}' by {{hero.attribution.name}} is licensed under a Creative Commons license {{hero.attribution.license}}">
    <img alt="'{{hero.attribution.title}}' by {{hero.attribution.name}} is licensed under a Creative Commons license" src="/images/cc-by.svg" class="card__thumbnail-attribution"/>
</a>
{% endif %}
</div>
{% endif %}

<article class="article article-type-{{layout}}" itemscope itemprop="blogPost">
  <div class="article-content">
    <div class="article-inner">
        <header class="article-header container">
            <h1 itemprop="name">
                {{title}}
            </h1>
        </header>
      <div class="article-entry container" itemprop="articleBody">
        {{ content|safe }}
      </div>
    </div>
  </div>
</article>

{% if geo or geojson %}
<h2 class="container">{% if mapTitle %}{{mapTitle}}{% else %}Map of {{title}}{% endif %}</h2>
<div id="map" class="inline-map"></div>
<template id="map-config">
{{page | pageData | dump}}
</template>
{% endif %}

{% include "partials/ad-card.njk" %}
{% include "partials/related.njk" %}
{% include "partials/ad-card.njk" %}
