<footer class="container">
    <p class="navbar">
        Copyright &copy; {{site.copyrightYear}} <a href="https://ash.ms/">Ash Kyd</a>
        {% if page.url %}
        •
        <a 
            rel="nofollow" 
            href="https://github.com/AshKyd/briscycle/tree/master/site{{page.url}}index.md">
            Edit on Github
        </a>
        {% endif %}
    </p>
    <p class="navbar">
        <a href="/">Home</a>

        {% for post in collections.legal %}
            • <a href="{{post.url}}">
            {% if post.data.shortTitle %}
                {{post.data.shortTitle}}
            {% else %}
                {{post.data.title}}
            {% endif %}
            </a>
        {% endfor %}
    </p>
</footer>
</body>
</html>