<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{title}} - {% endif %}{{site.title}}</title>
    <!-- env: {{env.environment}} -->
    {%if env.environment == 'development' %}
    <script defer src="http://localhost:1234/init.js?{% cachebust %}"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:1234/init.css?{% cachebust %}" />
    {% else %}
    <script defer src="/bundle/init.js?{% cachebust %}"></script>
    <link rel="stylesheet" type="text/css" href="/bundle/init.css?{% cachebust %}" />
    <script async defer data-website-id="22bf78f4-f87f-4bea-99e8-e22c4833aad6" src="https://umami.kyd.au/umami.js"></script>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="feed" type="text/html" title="{{site.title}}" href="/feed.xml" />
    <meta name="description" content="{{description | default(site.description)}}">
    {% include "partials/head-twitter.njk" %}
    {% include "partials/head-facebook.njk" %}
    {% include "partials/head-analytics.njk" %}
    {% include "partials/head-pwa.njk" %}

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/wp-content/icons/icon-192.png">
    {% if(page.geo) %}<meta name="ICBM" content="{{page.geo.lat}},{{page.geo.lng}}" />{% endif %}
    <script type="text/javascript">
    (window.adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <meta name="theme-color" content="#075697">
  </head>
  <body class="{%if env.environment == 'development' %}development{% endif %}">
  <header class="header inverse-links">
  <div class="header__flex">
    <h1 class="header__main"><a href="/">
      <img class="header__logo" src="/images/header-logo.webp" alt="" role="presentation" />
      Briscycle
    </a></h1>
    <ol class="header__menu ">
      {% for item in collections.menu %}
          <li class="header__item header__item--desktop">
          <a href="{{item.data.page.url}}" data-event="header-menu">{{item.data.shortTitle}}</a>
          </li>
      {% endfor %}
      <!-- <li class="header__item header__search">
        <a href="/search">
          <svg class="header__icon" aria-description="search" width="500" height="500" version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
           <g transform="translate(0 -552.36)">
            <path d="m222.7 554.89a195.44 195.44 0 0 0-195.44 195.44 195.44 195.44 0 0 0 195.44 195.44 195.44 195.44 0 0 0 106.75-31.781c2.6852 5.1 6.0974 10.19 10.197 14.943l88.275 102.34c15.264 17.696 33.763 23.809 41.477 13.707 7.7135-10.102 1.6352-32.478-13.629-50.174l-88.275-102.34c-1.6925-1.9621-3.4307-3.7567-5.1836-5.4277a195.44 195.44 0 0 0 55.824-136.71 195.44 195.44 0 0 0-195.44-195.44zm0 33.971a164.88 161.47 0 0 1 164.88 161.47 164.88 161.47 0 0 1-164.88 161.46 164.88 161.47 0 0 1-164.87-161.46 164.88 161.47 0 0 1 164.87-161.47z" />
           </g>
          </svg>
        </a>
      </li> -->
      <li class="header__item header__item--mobile">
        <a href="#nav" class="header__button btn" data-event="header-mobile-nav">
          <svg viewBox="0 0 100 80" width="40" height="40" class="header__icon">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
          </svg>
          Menu
          </a>
      </li>
    </ol>
  </div>
</header>