<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{title}} - {% endif %}{{site.title}}</title>
    <!-- env: {{env.environment}} -->
    {%if env.environment == 'development' %}
    <script defer src="http://localhost:1234/init.js?{% cachebust %}"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:1234/init.css?{% cachebust %}" />
    {% else %}
    <script defer src="/bundle/init.js?{% cachebust %}"></script>
    <link rel="stylesheet" type="text/css" href="/bundle/init.css?{% cachebust %}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="feed" type="text/html" title="{{site.title}}" href="/feed.xml" />
    <meta name="description" content="{{description | default(site.description)}}">
    {% include "partials/head-twitter.njk" %}
    {% include "partials/head-facebook.njk" %}
    {% include "partials/head-analytics.njk" %}
    {% include "partials/head-pwa.njk" %}

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/wp-content/icons/icon-192.png">
    {% if(page.geo) %}<meta name="ICBM" content="{{page.geo.lat}},{{page.geo.lng}}" />{% endif %}
    <script type="text/javascript">
    (window.adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <meta name="theme-color" content="#075697">
  </head>
  <body>
  <header class="header inverse-links">
  <div class="wide-container">
    <h1 class="header__main"><a href="/">Briscycle</a></h1>
    <ol class="header__menu">
      {% for item in collections.menu %}
          <li class="header__item">
          <a href="{{item.data.page.url}}">{{item.data.shortTitle}}</a>
          </li>
      {% endfor %}
    </ol>
  </div>
</header>