{% macro infobox(colour,icon,title,content) %}
<div class="infobox__item">
  <div class="infobox__icon">
    <svg
      viewBox="0 0 100 100"
      preserveAspectRatio="xMidYMid slice"
      role="img"
      width="64"
      aria-hidden="true"
    >
      <circle fill="{{colour}}" cx="50" cy="50" r="50"></circle>
      <image href="{{icon}}" width="80" x="10" y="10" />
    </svg>
  </div>
  <div class="infobox__item-content">
    <strong class="infobox__heading">{{title}}</strong>
    <p class="infobox__body">{{content}}</p>
  </div>
</div>
{% endmacro %}

{% if tags %}
<aside class="infobox">
  {% if 'green-bridge' in tags %}
  {{ infobox('#81c784', '/images/noun-icons/noun-green-1733744.svg', 'Green Bridge', "Brisbane's green bridges allow walking, cycling and scooting around the city, and don't allow cars."
  ) }}
  {% endif %}
  
  {% if 'separated' in tags %}
  {{ infobox('#64b5f6', '/images/noun-icons/noun-path-1561502.svg', 'Separated path', "This route is separated from traffic for a more fun and safe ride."
  ) }}
  {% endif %}
  
  {% if 'uphill' in tags %}
  {{ infobox('#f06292', '/images/noun-icons/noun-up-right-2032287.svg', 'Some hills', "There might be a bit of uphill riding on this route"
  ) }}
  {% endif %}
  
  {% if 'onroad' in tags %}
  {{ infobox('#7986cb', '/images/noun-icons/noun-road-776605.svg', 'On-road', "You'll need to ride on the road for some of this route"
  ) }}
  {% endif %}
  
  {% if 'nature' in tags %}
  {{ infobox('#81c784', '/images/noun-icons/noun-nature-6069484.svg', 'Scenic route', "This is a good route to enjoy nature."
  ) }}
  {% endif %}
  
</aside>
{% endif %}