
{% if(related) %}
<div id="nav" class="wide-container">
<ul class="cards">
    {% set counter = 0 %}
    {% for item in collections[related] %}
    {% set counter = counter + 1 %}
    <li class="card">
        <a class="card__link" href="{{item.data.page.url}}" data-event="card-link">
        <div
            class="card__thumbnail"
        >
            {% if(item.data.icon) %}
            <img
            class="card__icon"
            src="{{item.data.icon}}"
            alt=" "
            role="presentation"
            />
            {% endif %}

            {% if(item.data.thumb.image) %}
            <picture>
                <source
                    srcset="{{item.data.thumb.image}}-mobile.{{item.data.thumb.format | default('jpg')}}"
                    media="(max-width: 1024px)"
                />
                <img
                    class="card__thumbnail-image"
                    src="{{item.data.thumb.image}}-desktop.{{item.data.thumb.format | default('jpg')}}"
                    alt=" "
                    role="presentation"
                    loading="lazy"
                />
            </picture>
            {% endif %}
        </div>
        <div class="card__content">
            <div class="card__title h2">{{item.data.title}}</div>
            <p>{{item.data.description}}</p>
        </div>
        </a>
        {% if item.data.thumb.attribution %}
        <a 
            href="{{item.data.thumb.attribution.url}}"
            title="'{{item.data.thumb.attribution.title}}' by {{item.data.thumb.attribution.name}} is licensed under a Creative Commons license {{item.data.thumb.attribution.license}}">
            <img alt="'{{item.data.thumb.attribution.title}}' by {{item.data.thumb.attribution.name}} is licensed under a Creative Commons license" src="/images/cc-by.svg" class="card__thumbnail-attribution"/>
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}