<footer class="footer inverse-links">
  <div class="container footer__flex">
    <div class="footer__left">
    <h2>About Briscycle</h2>
    <p><strong>Briscycle is a passion project by <a href="https://ash.ms/">Ash Kyd</a>. It originated back in 2009 when there was little or no information about (let alone cycling infrastructure) in Brisbane.</strong></p>
    <p>Today there are a bunch of resources, including <a href="https://www.cyclingbrisbane.com.au/">Brisbane Council's cycling website</a>, so this is aiming to be a bit more of a general resource.</p>
    <p>The source code to this site is <a href="https://github.com/AshKyd/briscycle">available on github</a> which means with a little technical skill you can help update the site as well! But if you just have a question or comment, please feel free to get in touch by email.</p>
    </div>
    <div class="footer__right card">
      <a class="card__link" href="https://ash.ms/contact/">
        <div class="card__thumbnail" style="background-position:center;background-image:url(https://www.gravatar.com/avatar/24073d0e70921eda1a2ae25e2cceb057?s=300)">
        </div>
        <div class="card__content">
        <h3 class="card__title h2">Ash Kyd</h3>
        <p>For questions, complaints or updates, shoot me an email ash@kyd.com.au.</p>
      </a>
    </div>
  </div>
</footer>