<% if( page.geo) {%>
<div id="map" class="inline-map"></div>
<script type="text/x-template" id="map-config">
  <%- JSON.stringify({
    geo: page.geo,
    geojson: page.geojson
  }) %>
</script>
<script src="/js/map.js"></script>
<% } %>
