<%
const pages = site.pages.map(({title, path, shortTitle}) => ({ title: shortTitle || title, path: path.replace('index.html', '') }));
const menu = pages.filter(other => {
  return other.path.split('/').filter(Boolean).length == 1;
});
%>
<header class="header">
  <h1 class="header__main"><a href="/">Briscycle</a></h1>
  <ol class="header__menu">
    <% menu.forEach(({title, path}) => {%>
        <li class="header__item"><a href="/<%= path %>"><%= title %></a></li>
    <%})%>
  </ol>
</header>